* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(rgb(197, 214, 47),rgb(41,110,77));
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
    background: rgb(136, 166, 230);
}
.kick-pad.active {
  background: rgb(65, 117, 230);
}
.snare-pad {
    background: rgb(247, 204, 211);
}
.snare-pad.active {
      background: rgb(245, 134, 151);
}
.hihat-pad {
    background: rgb(233, 208, 162);
}
.hihat-pad.active {
  background: rgb(236, 168, 41);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
  width: 70%;
}
.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(87, 87, 87);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    background: rgb(88, 88, 88);
    color: white;
    border: none;
    cursor: pointer;
}

select {
    padding: 1rem;
    font-size: 1rem;
    border: .1rem solid rgb(94, 93, 93);
}

.mute.active {
    background-color: rgb(182, 182, 182);
}

.tempo {
    margin: 3rem;
    width: 30%;
}
.tempo-slider {
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background: rgb(88, 88, 88);
    cursor: pointer;
    border-radius: 1rem;
}
.tempo p {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

@keyframes playTrack {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
    
}